<body>
    <strong><a href="<%= @product_url %>"><%= @product_name %></a></strong>
    注文番号: <%= @order_number %>
    <a href="<%= @order_summary_url %>">注文概要</a>
    注文日: <%= @order_date %>
    価格: <%= @price %>
    個数: <%= @quantity %>
</body>